.sidebar-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: 250ms ease-out;
    padding: .5rem .3rem ;
    cursor: pointer;
    &:hover{
        transition: 250ms ease-in;
        background-color: #424242;

    }
    i{
        font-size: 45px;
    }
}